html {
  scroll-behavior: smooth;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(13,17,23);
  color: white;
  text-align: center;
  padding-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

hr {
  width: 90%;
  border: 1px solid white;
}

/* ส่วนของ About */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-end {
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.flex-end img{
  border-radius: 24px;
}

.flex-start {
  flex: 1;
  align-items: flex-start;
  text-align: start;
  font-size: 20px;
  padding: 50px 0;
}

.flex-start h2, h3, p{
  margin: 10px;
}

/* ส่วนของ Skills */

.container-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 24px;
}

.container-skills p {
  font-size: 20px;
  font-weight: 700;
  margin: 0 16px;
  flex: 0.1;
}

.skills-bar {
  background-color: #ddd;
  width: 100%;
  flex: 1;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
  width: 90%;
  background-color: #04AA6D;
}

.css {
  width: 80%;
  background-color: #2196F3;
}

.js {
  width: 65%;
  background-color: #f44336;
}

.php {
  width: 60%;
  background-color: #ff9800;
}

/* ส่วนของ Education */

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* เพื่อเป็นฐานหรือตำแหน่งเริ่มต้นสำหรับการกำหนดตำแหน่งอื่นๆ ภายใน .timeline */
  position: relative;
  width: 50%;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
}

.container-timeline {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 1;
}

.content-timeline {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 6px;
  color: black;
  word-wrap: break-word;
}

.content-timeline p{
  padding: 10px;
}
